@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

a{
    text-decoration:none;
    color:#bdbdbd;
    font-size:14px;
}
a:hover,a:focus,a:active{
    text-decoration:none;
}
input:not([type="button"]).form-control{
    background-color:#474747;
    color:white;
    border-color:white;
}
label{
    color:#bdbdbd;
}
.btn-success.btn-sozluk:hover{
    background-color:#5c8e31;

}
.btn-succes.btn-forum:focus,:active{
    box-shadow:none;
}
.btn-primary{
    color:#fff;
    background-color:#1b6ec2;
    border-color:#1861ac;
}
.article.content{
    padding:1px 1px 1px 1px;
}
.content{
    padding:1px 1px 1px 1px ;
}
.valid.modified:not([type=checkbox]){
    outline:1px solid #26b050;
}
.invalid{
    outline:1px solid red;
}
.validation-message{
    color:red;
}
/*7:05 */
